/*reset*/

html, body, nav, section, article, ul, li, button, fieldset,
main, img, h1, h2, h3, p, strong, a, div, span, footer {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #E0DFFF;
  color: #000;
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  padding: 5px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

button {
  padding: 5px;
  margin: 2px;
  font-size: 24px;
  border: 1px solid #fff;
  background: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #00E3FF;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: #001EBF;
}
