/*reset*/

html, body, nav, section, article, ul, li, button, fieldset,
main, img, h1, h2, h3, p, strong, a, div, span, footer, figure {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 30px;
}

section {
  margin: 0 auto;
  padding: 50px 0;
}

/*section::after {
  content: "";
  display: block;
  width: 500px;
  margin: 31px auto;
  height: 1px;
  background: #000;
}*/

ul {
  list-style: none;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 #3342A0,
               2px 2px 0 #3342A0,
               3px 3px 0 #3342A0,
               4px 4px 0 #3342A0;
}

h3 {
  padding: 5px;
}

button {
  padding: 5px;
  margin: 2px;
  font-size: 24px;
  border: 1px solid #fff;
  background: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #00E3FF;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: #ED9655;
}

figcaption {
  padding: 5px;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

.about {
  background: url("images/mountains.jpg") no-repeat top left;
  background-position: 0 -200px;
  display: block;
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
}

.about-content {
  width: 750px;
  margin: 0 auto;
  padding-top: 200px;
  position: relative;
}

.prof-pic {
  border-radius: 50%;
  width: 200px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  left: 80px;
  z-index: 1;
  border: 3px solid #000;
}

.prof-textbox {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.prof-text {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  padding: 10px 10px 10px 250px;
  margin: 30px auto 30px;
  position: relative;
  left: 0px;
  width: 380px;
  text-align: left;
}

.prof-text > h1 {
  font-size: 42px;
  color: #fff;
  text-shadow: 1px 1px 0 #3342A0,
               2px 2px 0 #3342A0,
               3px 3px 0 #3342A0,
               4px 4px 0 #3342A0;
}

.prof-more {
  margin: 90px auto 0;
  width: 580px;
  font-size: 22px;
  padding: 10px 0;
  /*opacity: 0;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;*/
}

/*.prof-text:hover ~ .prof-more {
  opacity: 1;
}

.prof-pic:hover ~ .prof-more {
  opacity: 1;
}*/

.projects {
  background: #00E3FF;
}

.projects > h1 {
  padding-bottom: 35px;
}

.projects-container {
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  /*border: 1px solid #000;*/
  /*background: #fff;*/
}

.projects-container figure {
  position: relative;
  overflow: hidden;
}

.projects-container figure::before {
  content: "";
  display: block;
  width: 300px;
  margin: 31px auto;
  height: 1px;
  background: #000;
}

.projects-container > h3 {
  font-weight: bold;
}

.projects-container > figcaption {
  font-size: 24px;
  padding: 0 5px 10px;
  text-align: left;
}

.projects-container figure:hover::after {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projects-container figure:hover .inner-link:after {
  display: block;
  border: 3px solid;
  border-color: #00E3FF;
  -moz-transition: border-color 0.25s ease-in-out;
  -webkit-transition: border-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
  border-radius: 5px;
  padding: 5px 20px;
  z-index: 1;
  position: absolute;
  top: 212px;
  font-size: 34px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
}

.projects-container figure:hover .inner-link:hover:after {
  border-color: #ED9655;
}

.projects-container figure:hover .live:after {
  left: 155px;
  content: "Live";
}

.projects-container figure:hover .github:after {
  left: 305px;
  content: "GitHub";
}

.projects-container figure:hover .gh-only:after {
  left: 220px;
  content: "GitHub";
}

.projects-container figure:hover img {
  /*width: 470px;
  height: 320px;*/
}

.projects-container figure img {
  border-radius: 5px;
  margin: 0 auto;
  /*width: 450px;
  height: 300px;*/
  /*-moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;*/
}

.skills {
  background: #7EFF93;
}

.skills > h1 {
  padding-bottom: 30px;
}

.skills-container {
  margin: 0 auto;
  width: 690px;
}

.skills-container > li, .skills-container > li > figcaption {
  font-size: 18px;
}

.sprite {
  background: url('images/spritesheet.png') no-repeat top left;
  width: 128px;
  height: 128px;
  float: left;
  padding: 5px;
  position: relative;
  margin-bottom: 50px;
}


/*.sprite.github { background-position: 0 0; }
.sprite.linkedin-icon { background-position: 0 -138px; }
.sprite.email { background-position: 0 -276px; } */
.sprite.ruby-icon { background-position: 0 -414px; }
.sprite.rails { background-position: 0 -552px; }
.sprite.javascript-icon { background-position: 0 -690px; }
.sprite.backbone { background-position: 0 -828px; }
.sprite.jquery { background-position: 0 -966px; }
.sprite.css3 { background-position: 0 -1104px; }
.sprite.html5 { background-position: 0 -1242px; }

.nudge {
  width: 128px;
  height: 128px;
}

.icon {
  width: 128px;
  height: 128px;
  float: left;
  padding: 5px;
}

.download {
  font-size: 28px;
  display: none;
}

.contact-info {
  background: #A0645C;
}

.links {
  max-width: 600px;
  margin: 0 auto;
}

.links > li {
  float: left;
  padding: 40px;
  width: 70px;
}
